@import "tailwindcss";

@theme {

  --default-font-family: "Open Sans", serif;
  --color-gray-100: #EEEEEE;
  --color-gray-200: #E0E0E0;
  --color-gray-300: #BDBDBD;
  --color-gray-400: #856161;
  --color-gray-500: #1D1616;

  --color-red-100: #a32a2a;
  --color-red-200: #B02525;
  --color-red-300: #D84040;
  --color-red-400: #1D1616;
  --color-red-500: #C23939;
  
}

